@page "{restaurantId}"
@model OrdeToFood.Pages.Restaurants.DeleteModel
@{
}

<h2>Delete!</h2>
<div class="alert alert-danger">
    Are you sure yo want to delete @Model.Restaurant.Name?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a class="btn btn-secondary" asp-page="./List">Cancel</a>
</form>